.fileUpload{
    position: relative;
}

/*!File Upload*/
input[type="file"] {
    display: none;
    margin-right: 15px;
  }
  
  .custom-file-upload {
    border: 1px solid #092635;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    left: 50px;
    top: 275px;
    cursor: pointer;
    position: absolute ;
  }

/*?Upload Image*/

.uploadImage{
  padding: 5px 15px;
  color: white;
  border: 1px solid #092635;
  background-color: #092635;
  position: absolute;
  top: 270px;
  border-radius: 15px;
  margin-top: 5px;
}

.uploadImage:active{
    background-color: #15475f;
}

