<div class="p-5"> 
    <form action="">
    <h2 class="text-center my-3">Yetki Ekle</h2>
    <div class="mb-3">
        <label for="FirstName" class="form-label">Ad</label>
        <input #name type="text" name="FirstName"  id="FirstName" class="form-control">
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Soyad</label>
        <input #categoryType type="text" name="lastName"  id="lastName" class="form-control">
    </div>
    <div class="mb-3">
        <label for="authorization" class="form-label">Yetki</label>
        <input #categoryType type="text" name="authorization"  id="authorization" class="form-control">
        <!-- Buraya yetkilerin get ile kategorideki çektiğin hali gibi hali gelicek -->
    </div>
</form>
    <div class="text-center my-5">
        <a routerLink   class="btn btn-outline-success mx-2">Yetkiyi Ekle</a> 
        <!-- (click)="saveAuthory(name)" -->
    </div>
</div>