<div class="kvkk-modal kvkkfirstdiv"  *ngIf="modalVisible">
  <div class="kvkk-modal-content kvkkdiv">
    <!-- <span class="close closeicon" >&times;</span> -->
    <h2>Bilgilendirme </h2>
    <p>
      Çerezler: Bu web sitesi çerezleri kullanabilir. Çerezler, web tarayıcınıza
      yerleştirilen küçük metin dosyalarıdır. Bu dosyalar, sizi tanımak ve
      tercihlerinizi hatırlamak gibi çeşitli amaçlar için kullanılabilir.
      Çerezleri kabul etmek veya reddetmek için tarayıcınızın ayarlarını
      değiştirebilirsiniz. Ancak, bazı özelliklerin düzgün çalışmayabileceğini
      unutmayın.
    </p>
    <p>
      Üçüncü Taraf Bağlantıları: Bu web sitesi, üçüncü taraf web sitelerine
      bağlantılar içerebilir. Bu bağlantılar, üçüncü taraf sitelerin gizlilik
      uygulamalarını kapsamaz.
    </p>
    <a class="btn closebutton btn-warning " (click)="closeModal()">Kabul Et</a>
  </div>
</div>
