<section class="vh-100 pastel-dark-low2 font-fredoka">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="assets/images/share.png"
            class="img-fluid">
        </div>
        
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form #loginForm="ngForm" (ngSubmit)="loginFormControl(loginForm)"> 
            <!-- Error Message -->
            <div class="alert alert-danger text-center" *ngIf="error">
              {{error}}
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example13">Email Adresi</label>
              <input id="email" type="email" email="email" required ngModel name="email" placeholder="Email Adresi" class="form-control form-control-lg">
              
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example23">Şifre</label>
             <input id="password" type="password" password="password" required minlength="8"  ngModel  name="password" placeholder="Şifre" class="form-control form-control-lg">
            </div>
  

            <!-- Submit button -->
            <div class="d-flex justify-content-around align-items-center mb-4">
              <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="loginForm.invalid">Giriş Yap</button>
            </div>
            <!--   !Forgot password?
            <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
              </div>
              <a routerLink="/register" class="text-help-info">Forgot password?</a> -->
      
          </form>
        </div>
      </div>
    </div>
  </section>