




  <section class="white font-fredoka" *ngIf="subjects.length>0 else noSubjects"> 
            
    <div class="container py-2">
      <div class="h1 text-center pastel-dark-low" id="pageHeaderTitle">Haberler</div> 
  
      <article class="postcard light blue" *ngFor="let subject of subjects"> 
        <a class="postcard__img_link" [routerLink]="['/subjects', subject.id]">
          <div *ngIf="subject.subjectImageFileId && subject.subjectImageFileId != null else defaultPhoto" class="standartHomePageSubjectPhotoContainer">
          <img  class="postcard__img standartHomePageSubjectPhoto" src="{{subject.subjectImageFileUrl}}"  alt="Image Title" /> <!--buraya img gelicek-->
          </div>
          <ng-template #defaultPhoto>
            <img src="https://flepix-blog-subjectfiles.s3.amazonaws.com/flepix.png" alt="" class="postcard__img" style="width: 200px" />
        </ng-template>
        </a>
        <div class="postcard__text t-dark">
         <h1 class="postcard__title pastel-dark-low blue"><a [routerLink]="['/subjects', subject.id]">{{subject.title}}</a></h1>  <!--  -->
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2 mx-1"></i>{{subject.createdDate | date}}
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">{{subject.summary}}</div> <!-- -->
          <ul class="postcard__tagbox">
            <li class="tag__item play blue"><i class="fa-solid fa-tag margin"></i>{{ subject.categoryName }}</li> <!--  -->
            <li class="tag__item play blue" ><i class="fas fa-clock margin "></i>{{subject.createdDate | date}}</li>
            <li class="tag__item play blue">
              <a [routerLink]="['/subjects', subject.id]"><i class="fa-solid fa-book-open margin"></i>Devamını Oku</a>
            </li>
          </ul>
        </div>
      </article>


      <!-- <article class="postcard light red">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="assets/images/2.jpg" alt="Image Title" />	
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title pastel-dark-low red mx-1"><a href="#">Podcast Title</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2 mx-1"></i>Mon, May 25th 2024
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i> Podcast</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
            <li class="tag__item play red">
              <a href="#"><i class="fa-solid fa-book-open mr-2"></i>Devamını Oku</a>
            </li>
          </ul>
        </div>
      </article>


      <article class="postcard light green">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="assets/images/3.jpg" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title pastel-dark-low green"><a href="#">Podcast Title</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2 mx-1"></i>Mon, May 25th 2024
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
            <li class="tag__item play green">
              <a href="#"><i class="fa-solid fa-book-open mr-2"></i>Devamını Oku</a>
            </li>
          </ul>
        </div>
      </article>


      <article class="postcard light yellow">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="assets/images/4.jpg" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title pastel-dark-low yellow mx-1"><a href="#">Podcast Title</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2 mx-1"></i>Mon, May 25th 2024
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
            <li class="tag__item play yellow">
              <a href="#"><i class="fa-solid fa-book-open mr-2"></i>Devamını Oku</a>
            </li>
          </ul>
        </div>
      </article> -->


    </div>
  </section>

  <ng-template #noSubjects>
    <div class="alert alert-warning text-center my-5">
     Listelenecek herhangi bir haber bulunamadı!
    </div>
  </ng-template>