<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="mat-sidenav-container font-fredoka">
  <mat-sidenav opened mode="side" [style.width]="sidenavWitdh()">
    <app-custom-sidenav [collapsed]="collapsed()" />
  </mat-sidenav>

  <mat-sidenav-content class="content" [style.margin-left]="sidenavWitdh()">
    <section class="counter-section">
      <div class="row counter">
        <!-- Takvim -->
        <div class="col-3">
          <div class="date-picker">
            <div class="placement">
              <mat-form-field class="example-full-width font-fredoka">
                <mat-label>Günü Seçin/Girin</mat-label>
                <input matInput [matDatepicker]="picker" />
                <mat-hint>Ay/Gün/Yıl</mat-hint>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <button mat-raised-button (click)="picker.open()">Open</button>
            </div>
          </div>
        </div>
        <!-- Takvim -->
        <div class="col-2 bg-success counter-text">
          <h3>Movies</h3>
          <span class="counter__item">974</span>
        </div>
        <div class="col-2 bg-primary counter-text">
          <h3>TV Shows</h3>
          <span class="counter__item">479</span>
        </div>
        <div class="col-2 bg-warning counter-text">
          <h3>Users</h3>
          <span class="counter__item">794</span>
        </div>
      </div>
    </section>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
